@import url("https://use.typekit.net/cqz5vbh.css");

/* --------- STRUCTURE ---------- */

* {
  box-sizing: border-box;
}

body {
  margin: 10px;
  background-color: #ffdbbd;
}

header,
footer {
  border: 8px double #000000;
}

main {
  margin-top: 30px;
  margin-bottom: 30px;
}

section {
  padding: 0 20px;
}

main img {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 20px;
}

.item-border {
  padding: 20px;
  border: 2px dotted #000000;
}

.item-centered {
  align-self: center;
}

.item-double {
  flex: 2;
}

.item-triple {
  flex: 3;
}

.divider {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.circle {
  border-radius: 50%;
  border: 3px solid #000000;
}

.links-list {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

/* ------ NAVIGATION ------ */

nav {
  display: flex;
  flex-direction: column;
}

nav ul {
  margin-top: 20px;
  text-align: center;
  padding-bottom: 0;
  padding-left: 0;
  list-style: none;
  font-style: normal;
}

nav ul li a {
  font-family: "brandon-grotesque", Verdana, sans-serif;
  font-size: 16px;
  text-decoration: none;
  margin: 0 20px 0 0;
}

nav a:link {
  color: #000000;
}
nav a:visited {
  color: #000000;
}
nav a:hover {
  color: #ffffff;
}
nav a:active {
  color: #0011ff;
}

/* ----------- TYPOGRAPHY ----------- */

h1,
h5,
h6 {
  font-family: "brandon-grotesque", Verdana, sans-serif;
  color: #000000;
  text-align: center;
}

h2,
h4,
p,
ul,
ol,
a {
  font-family: "adobe-garamond-pro", "Times New Roman", serif;
  color: #000000;
  font-weight: 400;
}

h1 {
  font-weight: 700;
  font-size: 22px;
  margin: 0;
  padding: 20px 0 0 0;
  text-transform: uppercase;
}

h2 {
  font-size: 70px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

h3 {
  font-family: "brandon-grotesque", Verdana, sans-serif;
  color: #000000;
  text-align: left;
  font-weight: 600;
  font-size: 30px;
  line-height: 10px;
  text-transform: uppercase;
}

h4 {
  font-size: 20px;
  text-align: center;
}

h5 {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

h6 {
  font-weight: 400;
  font-size: 15px;
}

p,
ul,
ol,
a {
  font-size: 18px;
  text-align: left;
  margin-top: 0;
  text-align: justify;
}

ul {
  font-style: italic;
  padding-left: 20px;
  list-style: circle;
}

a:link {
  color: #000000;
}
a:visited {
  color: #808080;
}
a:hover {
  color: #ffffff;
}
a:active {
  color: #0011ff;
}

/* ------------ DESKTOP ------------ */

@media all and (min-width: 800px) {
  section {
    padding: 0 8%;
  }

  .group {
    flex-direction: row;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 30px;
  }

  h1 {
    margin: 14px 0 14px 20px;
    padding-top: 0;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    margin-top: 14px 0 14px 20px;
    padding-top: 0;
  }

  nav ul li:last-child a {
    margin-right: 0;
  }
}

/* --------- CONTACT FORM --------- */

form label {
  font-family: "adobe-garamond-pro", "Times New Roman", serif;
  font-size: 17px;
}

form input,
form textarea {
  width: 100%;
  margin: 5px 0 20px 0;
  border: 0;
  border-radius: 5px;
}

form textarea {
  height: 160px;
}

form button {
  padding: 10px;
  width: 100%;
  border: 0;
  border-radius: 5px;
  background: #000000;
  color: #ffffff;
  font-family: "brandon-grotesque", Verdana, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
